<div class="nota modelo2 ff-roboto-mono">
    <p class="conteudo">{{ nota.texto }}</p>
    <p class="autoria"><b>{{ nota.dataModificacao | date:'dd/MM/yyyy HH:mm' }}</b></p>
    <div class="acoes">
        <button class="botao-editar">
            <img src="/assets/imagens/iconeEditar.png" [routerLink]="['/notas/editarNotas', nota.id]" alt="Ícone de editar">
        </button>
        <button class="botao-excluir">
            <img src="/assets/imagens/iconeExcluir.png" [routerLink]="['/notas/removerNotas', nota.id]" alt="Ícone de excluir">
        </button>
    </div>
</div>