<div class="nota ff-roboto-mono">
    <p class="conteudo">xxxxxxxxxxx</p>
    <p class="autoria"><b>aaaaaaaaaaa</b></p>
    <div class="acoes">
        <button class="botao-editar">
            <img src="/assets/imagens/iconeEditar.png" routerLink="/notas/editarNotas/{{nota.id}}"
                alt="Ícone de editar">
        </button>
        <button class="botao-excluir" routerLink="/notas/removerNotas/{{nota.id}}">
            <img src="/assets/imagens/iconeExcluir.png" alt="Ícone de excluir">
        </button>
    </div>
</div>