footer {
  background-image: url(/assets/imagens/fundoRodape.png);
  display: flex;
  align-items: center;
  padding: 2rem;
  margin-top: 4rem;
}
@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}