.acoes {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .botao {
    margin: 5px;
    margin-top: 70px;
    width: 200px;
  }
  
  .editar-notas {
    padding: 2rem 0;
  }
  
  .editar-notas form {
    background: #C4EDFF;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  
  .editar-notas form label {
    color: #154580;
    font-weight: bold;
    margin: 0 0 1rem;
  }
  
  .editar-notas form textarea {
    border: none;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #f8f8f8;
    font-size: 16px;
  }